exportPattern("^[[:alpha:]]+")
importFrom(Rcpp,sourceCpp)
importFrom(Rcpp,evalCpp)
useDynLib(statarber)
import(data.table)
import(hdf5r)
import(nnls)
import(plyr)
import(abind)
import(glmnet)
import(yaml)
import(stringi)
importFrom(timeDate,timeNthNdayInMonth)
