exportPattern("^[[:alpha:]]+")
importFrom(Rcpp,sourceCpp)
importFrom(Rcpp,evalCpp)
useDynLib(statarber)
import(data.table)
import(h5)
import(nnls)
import(plyr)
import(abind)
import(glmnet)
importFrom(timeDate,timeNthNdayInMonth)
